<header>
  <div class="continer nav_bar row align-items-center pt-3">
    <div class="left-side col-12 col-lg-3">
      <a class="" href="#">
        <img src="/images/HODLINFO.png" alt="" class="w-100">
      </a>
    </div>

    <div class="middle col-12 col-lg-6 align-items-center justify-content-center">
      <div class="dropdown px-4" >
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          INR
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">INR</a></li>
        </ul>
      </div>
      <div class="dropdown px-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          BTC
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">BTC</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-secondary">Buy BTC</button>
    </div>

    <div class="right-side d-flex col-12 align-items-center justify-content-center col-lg-3">
      <div>
        <button type="button" class="btn btn-secondary mx-3">Connect Telegram</button>
        <label class="label">
          <div class="toggle">
            <input class="toggle-state" type="checkbox" name="check" value="check" />
            <div class="indicator"></div>
          </div>
        </label>
      </div>


    </div>
  </div>

</header>